{{!< default}}

{{#post}}

  <article class="{{post_class}}">
    <header>
      <div class="post meta">
        <time datetime="{{date format="YYYY-MM-DDTHH:MM"}}">{{date format="DD MMM YYYY"}}</time>
        <span class="post tags">{{tags prefix="in " separator=" "}}</span>

        {{!> post-author}}

        <span class="post reading-time"> ~ <span></span> read.</span>
      </div>
      <a title="Share '{{title}}'" href='http://facebook.com/sharer.php?u={{url absolute="true"}}' onclick='window.open("http://facebook.com/sharer.php?u={{url absolute="true"}}", "newwindow", "width=300, height=250, resizable=yes, scrollbars=yes"); return false;'>
        {{#if image}}<img id="post-image" src="{{image}}" alt="{{title}}">{{/if}}
        <h1 class="icon icon-social-facebook" id="post-title">{{title}}</h1>
      </a>
    </header>

    <div id="post-content" class="{{post_class}}">
      {{content}}
    </div>

    <div class="post related">
      {{#prev_post}}
        <a rel="prev" id="prev-btn" class="btn small square" href="{{url}}">← {{title}}</a>
      {{/prev_post}}

      {{#next_post}}
        <a rel="next" id="next-btn" class="btn small square" href="{{url}}">{{title}} →</a>
      {{/next_post}}
    </div>

    {{> comments}}

  </article>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'hitripod'; // required: replace example with your forum shortname
    var disqus_identifier = '{{post.id}}';
 
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> 
{{/post}}
